*{
    margin: 0;
    pad: 0;
}

body{
    background: #222;
    color: white;
    font-family: system-ui;
}

.crud{
    width: 80%;
    margin: auto;
}

.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}

input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background: #111;
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px;
    color: white;
}

input:focus{
    background: #000;
    transform: scale(1.03);

}

.price input{
    width: 20%;
}

#total{
    background: #a00d02;
    padding: 5px 2px;
    border-radius: 4px;
}

#total::before{
    content: 'Total';
}

button{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background: #310044;
    color: white;
    transition: 0.5s;
}

#deleteAll{
    margin: 20px 0;
}

button:hover{
    background: #51025f;
    letter-spacing: 1px;
}

.btnSearch{
    display: flex;
    justify-content: space-between;
}

.btnSearch button{
    width: 45%;
}

table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

table th{
    text-transform: uppercase;
}

th,td{
    padding: 5px;
}